rosbags/ filter=lfs diff=lfs merge=lfs -text
rosbags/no_obstructions.bag filter=lfs diff=lfs merge=lfs -text
rosbags/withImage.bag filter=lfs diff=lfs merge=lfs -text
rosbags/bag_elevation_mapping_bin_and_orange_box.bag filter=lfs diff=lfs merge=lfs -text
rosbags/bagTest2.bag filter=lfs diff=lfs merge=lfs -text
rosbags/beanbag.bag filter=lfs diff=lfs merge=lfs -text
rosbags/chair.bag filter=lfs diff=lfs merge=lfs -text
images/chair-elevation.png filter=lfs diff=lfs merge=lfs -text
images/chair-point.png filter=lfs diff=lfs merge=lfs -text
images/OLD[[:space:]]BeanBag-w-point-elevation.png filter=lfs diff=lfs merge=lfs -text
images/OLD[[:space:]]BeanBag-w-elevation.png filter=lfs diff=lfs merge=lfs -text
images/OLD[[:space:]]BeanBag-w-point.png filter=lfs diff=lfs merge=lfs -text
images/BeanBag-elevation.png filter=lfs diff=lfs merge=lfs -text
images/BeanBag-w-point-elevation.png filter=lfs diff=lfs merge=lfs -text
images/BeanBag-w-point.png filter=lfs diff=lfs merge=lfs -text
images/chair-w-point-elevation.png filter=lfs diff=lfs merge=lfs -text
images/elevation.png filter=lfs diff=lfs merge=lfs -text
images/elevation-point.png filter=lfs diff=lfs merge=lfs -text
images/point.png filter=lfs diff=lfs merge=lfs -text
images/ filter=lfs diff=lfs merge=lfs -text
